
.Primary-Button {
    border: none;
    background-color: #FFFF;
    width: 147px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color:  #2659C3;
}